/* Basic jumbotron styles -- you must include text in the jumbotron or the cke editor strips out the element. I added a word "hello" and then just make the text transparent; not sure if there are consequences for accessibility with this method, though */
.jumbotron {
  height: 250px;
  background-size: cover;
  background-position: top center;
}

.jumbotron h1 {
  color: transparent !important;
}

/* Individual images for each jumbotron -- upload the images to resources, right click the image and select Copy Link */
#jumbotron-1 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-2 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-3 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-4 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-5 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-6 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-7 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-8 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-9 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-10 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

#jumbotron-11 {
  background: url('https://sakailogin.nd.edu/access/content/group/ea2bcb9b-d7b4-49a8-92c7-2c375afead3e/index-banner.png');
}

.green {
  color: green;
}

.alert-default {
   background: #e2e3e5;
   border-color: #d6d8db;
   color: #383d41;
}

.lead {
  font-size: 150%;
}
