nav.navbar {
  border-radius: 0 !mportant;
}

#breads {
  padding: 1.5rem 0 1.5rem 0;
  margin-top: -45px;
}

.alert-alice {
  background: #f6f7fb;
}

.green {
  color: green;
}

.bigger {
  font-size: 160%;
  margin-bottom: 4rem;
}

.alert-default {
   background: #e2e3e5;
   border-color: #d6d8db;
   color: #383d41;
}


/* Checklist functionality */
.ap-content {
  padding-left: 1.9rem;
}

.ap-content .well {
   margin-top: 1rem;
}

.ap-check {
   background-color: transparent !important;
   height: 100%;
   width: 100%;
   border-bottom: none;
}

.ap-check .panel-title::before {
   content: "\f0c8\00a0\00a0";
   font-family: "Fontawesome light";
   font-size: 150%;
}

.ap-checked .panel-title::before {
   content: "\f14a\00a0\00a0";
   font-family: "Fontawesome";
   color: green;
}

.ap-checked {
   /* color: silver !important; */
}

.highlight {
  background: #f6f7fb;
  padding: 2rem;
}
